{% assign author = page.author-profile | default: site.author %}
{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% endif %}

<div itemscope itemtype="https://schema.org/Person" class="page__hero-author">

  <div class="author__content">
    <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% if author.bio %}
      <div class="author__bio" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li class="author__desktop" itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ author.location }}</span>
        </li>
      {% endif %}

      {% if author.links %}
        {% for link in author.links %}
          {% if link.url contains 'http' %}
            {% assign url = link.url %}
          {% else %}
            {% assign url = link.url | relative_url %}
          {% endif %}
          <li>
            <a href="{{ url }}" rel="nofollow noopener noreferrer">
              <i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span>
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
